__pycache__/
*.py[cod]
*$py.class

# Environments
env.local
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.horusec
.coverage
.coverage.*
*.cover
*.py,cover

.idea/

.DS_Store

# BERT Modules
saved_model.pb
tfhub_module.pb
bert_config.json
vocab_file_BERT_.txt
variables.data-00000-of-00001
variables.index
